#container.le {
  .banner{
    background-position: 50% 50% !important;
    background-repeat: no-repeat;
    height: 271px !important;
  }
  .e2009 {
    background-image: url(../images/event2009.jpg);
  }
  .e2010_1 {
    background-image: url(../images/event2010_1.jpg);
  }
  .e2010_2 {
    background-image: url(../images/event2010_2.jpg);
  }
  .e2010_3 {
    background-image: url(../images/event2010_3.jpg);
  }
  .e2011 {
    background-image: url(../images/event2011.jpg);
  }
  .e2012_1 {
    background-image: url(../images/event2012.jpg);
  }
  .e2012_2 {
    background-image: url(../images/eventCity2_0.jpg);
  }
  .e2013 {
    background-image: url(../images/TEDXKyiv2013_finish.png);
    height: 235px !important;
  }
  .e2014 {
    background-image: url(https://www.dropbox.com/s/8alg5gryicvdjfm/tedxkyiv2014.png);
    height: 235px !important;
  }
  .wo_nav {
    height: 170px !important;
  }
}
