#container.l {
  .select_box {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 35px;
  }
  ul.partner_list {

    li {
      display: inline-block;
      text-align: center;
      margin: 20px 10px 40px;
      vertical-align: top;

      a {
        display: block;
        width: 170px;
        height: 110px;
      }

      p {
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 8pt;
        text-align: center;
      }
    }
  }
}
#container.p {
  .banner {
    background: url(../images/banner_photos.jpg) 50% 50%;
    height: 291px !important;
  }
  article {
    width: 100%;
    h2 {
      border: none;
      margin-bottom: 0;
      ul {
        left: 0px;

        &.e2009 {
          left: 432px;
        }
        &.e2010 {
          left: 324px;
        }
        &.e2011 {
          left: 216px;
        }
        &.e2012 {
          left: 108px;
        }
        li {
          font-family: Bebas_Neue_Cyrillic;
          color: $gray;
          opacity: 0.5;
          font-size: 26pt;
          margin: 0 24px 10px;
          display: inline-block;

          span {
            display: block;
            text-align: center;
            width: 56px;
            top: -10px;
            color: $gray;
          }

          &.active {
            color: red;
            opacity: 1;

            span {
              color: red;
            }
          }
        }
      }
    }
    h3 {
      text-align: center;
      span:nth-child(1) {
        background: rgba($gray,0.5);
        color: white;
        font-weight: normal;
        font-size: 10pt;
        padding: 7px 15px;
        top: -2px;
      }
      span:nth-child(2) {
        color: red;
      }
    }
    .gallery {
      margin-bottom: 40px;

      a {
        display: inline-block;
        width: 150px;
        height: 150px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        vertical-align: top;
        margin: 6px 4px;
      }
    }
    .video_gallery {
      margin-bottom: 40px;

      li {
        display: inline-block;
        margin: 0 5px 20px;
        a {
          display: block;
          margin-bottom: 15px;

          &:hover {
            img {
              opacity: 0.8;
            }
          }

          
          span.play {
            width: 81px;
            height: 61px;
            background: url(../images/play.png) no-repeat 50% 50%;
            position: absolute;
            z-index: 100;
            left: 50%;
            margin: -30px 0 0 -40px;
            top: 50%;
          }
          img {
            width: 309px;

            &:hover {
              opacity: 0.8;
            }
          }
        }
        .speaker_icon {
          vertical-align: top;
          display: inline-block;
          margin-right: 15px;
        }
        p {
          vertical-align: top;
          display: inline-block;
          text-transform: uppercase;
          font-size: 10pt;
          width: 248px;

          span {
            display: block;
            font-size: 12pt;
            font-weight: bold; 
          }
        }
      }
    }
  }
}
#container.v {
  .banner {
    background: url(../images/banner_events.jpg) 50% 50%;
    height: 291px !important;
  }
}  
#container.s {
   div {
    .speakers {

      li {
        display: inline-block;
        padding: 10px;
        width: 160px;
        height: 196px;
        margin: 0 5px 40px;
        vertical-align: top;

        &:hover {
          a {
            visibility: visible;
          }
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
        }
        .theme {
          color: white;
          text-decoration: none;
          visibility: hidden;
          background-color: rgba(red,0.8);
          text-align: center;
          height: 140px;
          display: block;
          font-size: 10pt;
          font-weight: bold;
          padding: 10px;
          line-height: 11pt;
          cursor: pointer;

           span {
            text-transform: uppercase;
            font-size: 7.5pt;
            display: block;
            margin-bottom: 30px;
          }
        }
        .speaker_name {
          font-size: 10pt;
          text-transform: uppercase;
          position: absolute;
          top: 186px;
          left: 0;
          width: 100%;
          text-align: center;
        }
      }
    }
    .speech_description {
      margin: 0 !important;

      span {
        background: none !important;
      }
      iframe {
        margin: 20px 0 40px;
        left: 50%;
        margin-left: -375px;
      }
    }
  }
}