.scrollable {
  position:     relative;
  overflow:     hidden;
  width:        970px;
  height:       170px;
  margin:      0 auto;

  .items {
    width:       20000em;
    position:    absolute;

    ul {
      position:     relative;
      float:         left;

      li {
        display: inline-block;
        padding: 10px;
        width: 120px;
        height: 150px;
        margin: 0 11px;
        vertical-align: top;

        &:first-child {
          margin: 0 11px 0 0;
        }
        &:last-child {
          margin: 0 0 0 11px;
        }

        &:hover {
          a {
            visibility: visible;
          }
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
        }
        .theme {
          color: white;
          text-decoration: none;
          visibility: hidden;
          background-color: rgba(red,0.8);
          text-align: center;
          height: 100px;
          display: block;
          font-size: 10pt;
          font-weight: bold;
          padding: 10px;

           span {
            text-transform: uppercase;
            font-size: 7.5pt;
            display: block;
            margin-bottom: 10px;
          }
        }
        .reporter_name {
          font-size: 10pt;
          text-transform: uppercase;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}
.navi {
  margin: 0 auto 46px;
  width: 56px;
  height: 12px;

  a {
    width:            12px;
    height:           12px;
    float:            left;
    display:          block;
    background: rgba($gray,0.5);
    margin: 0 5px;

    &.active {
      cursor:default;
      background-color: $gray;
    }
    &:first-child,{
      margin: 0 5px 0 0;
    }
    &:last-child,{
      margin: 0 0 0 5px;
    }
  }
}