/* line 13, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  position: relative;
}

/* line 24, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 32, ../sass/reset.scss */
ul {
  list-style: none;
}

/* line 36, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 51, ../sass/reset.scss */
.field_with_errors {
  display: inline;
}

@font-face {
  font-family: 'Bebas_Neue_Cyrillic';
  src: url("../fonts/Bebas_Neue_Cyrillic.eot");
  src: url("../fonts/Bebas_Neue_Cyrillic.eot?#iefix") format("embedded-opentype"), url("../fonts/Bebas_Neue_Cyrillic.woff") format("woff"), url("../fonts/Bebas_Neue_Cyrillic.ttf") format("truetype"), url("../fonts/Bebas_Neue_Cyrillic.svg#Bebas_Neue_Cyrillic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../sass/layout.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 16, ../sass/layout.scss */
html {
  height: 100%;
}
/* line 19, ../sass/layout.scss */
html body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  /*footer*/
}
/* line 25, ../sass/layout.scss */
html body header, html body nav, html body section, html body article, html body aside, html body footer {
  display: block;
}
/* line 28, ../sass/layout.scss */
html body a {
  outline: none;
  text-decoration: underline;
}
/* line 32, ../sass/layout.scss */
html body a:hover {
  text-decoration: none;
}
/* line 36, ../sass/layout.scss */
html body img {
  border: none;
}
/* line 39, ../sass/layout.scss */
html body input {
  vertical-align: middle;
}
/* line 42, ../sass/layout.scss */
html body i {
  font-style: italic;
}
/* line 45, ../sass/layout.scss */
html body strong {
  font-weight: bold;
}
/* line 48, ../sass/layout.scss */
html body i {
  font-style: italic;
  color: rgba(102, 102, 102, 0.5);
}
/* line 52, ../sass/layout.scss */
html body .underline {
  line-height: 30pt;
  border-bottom: 2px solid rgba(102, 102, 102, 0.5);
}
/* line 56, ../sass/layout.scss */
html body .no_underline {
  border: none !important;
  margin-bottom: 5px !important;
}
/* line 60, ../sass/layout.scss */
html body #wrapper {
  width: 1054px;
  margin: 0 auto;
  min-height: 100%;
  color: #666666;
}
/* line 66, ../sass/layout.scss */
html body #wrapper #header {
  height: 137px;
  font-size: 12pt;
  display: block;
}
/* line 71, ../sass/layout.scss */
html body #wrapper #header .inner {
  width: 974px;
  padding: 0 40px;
  margin: 0 auto;
}
/* line 76, ../sass/layout.scss */
html body #wrapper #header .inner .logo {
  display: inline-block;
  width: 238px;
  height: 65px;
  margin: 35px 0;
  background: url(../images/logo.png) no-repeat;
}
/* line 83, ../sass/layout.scss */
html body #wrapper #header .inner nav {
  display: inline-block;
  position: absolute;
  cursor: default;
  top: 52px;
  margin-left: 57px;
}
/* line 90, ../sass/layout.scss */
html body #wrapper #header .inner nav a.active, html body #wrapper #header .inner nav a.active:hover {
  color: white;
  background: url(../images/dropdown_arrow_w.png) no-repeat 100% 50% !important;
}
/* line 94, ../sass/layout.scss */
html body #wrapper #header .inner nav ul.active, html body #wrapper #header .inner nav ul.active li a, html body #wrapper #header .inner nav a.active, html body #wrapper #header .inner nav a.active:hover {
  background-color: #454545 !important;
}
/* line 98, ../sass/layout.scss */
html body #wrapper #header .inner nav ul li {
  margin: 0 27px;
  display: inline-block;
  vertical-align: top;
  z-index: 100;
  position: relative;
  width: auto;
}
/* line 106, ../sass/layout.scss */
html body #wrapper #header .inner nav ul li:first-child {
  margin-left: 0;
}
/* line 109, ../sass/layout.scss */
html body #wrapper #header .inner nav ul li:last-child {
  margin-right: 0;
}
/* line 112, ../sass/layout.scss */
html body #wrapper #header .inner nav ul li:last-child a, html body #wrapper #header .inner nav ul li:last-child a:hover {
  background-image: none;
  cursor: pointer;
}
/* line 117, ../sass/layout.scss */
html body #wrapper #header .inner nav ul li a {
  color: #666666;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 15px;
  background: url(../images/dropdown_arrow_g.png) no-repeat 100% 50%;
  cursor: pointer;
}
/* line 125, ../sass/layout.scss */
html body #wrapper #header .inner nav ul li:hover {
  position: relative;
  z-index: 500;
}
/* line 128, ../sass/layout.scss */
html body #wrapper #header .inner nav ul li:hover a {
  background-color: red;
  color: white;
  background-image: url(../images/dropdown_arrow_w.png);
  position: relative;
  z-index: 1000;
}
/* line 139, ../sass/layout.scss */
html body #wrapper #header .inner nav ul ul {
  display: none;
  position: absolute;
  margin-top: -31px;
  background: red !important;
  padding-top: 46px;
  z-index: 200;
}
/* line 147, ../sass/layout.scss */
html body #wrapper #header .inner nav ul ul li {
  margin: 0 0 15px 0;
  display: block;
  white-space: nowrap;
}
/* line 151, ../sass/layout.scss */
html body #wrapper #header .inner nav ul ul li a {
  color: rgba(255, 255, 255, 0.5) !important;
  background: red !important;
  padding: 0 15px;
}
/* line 158, ../sass/layout.scss */
html body #wrapper #header .inner nav ul ul li:hover a {
  color: white !important;
}
/* line 165, ../sass/layout.scss */
html body #wrapper #header .inner nav ul li:hover > ul {
  display: block;
}
/* line 170, ../sass/layout.scss */
html body #wrapper #container {
  width: 974px;
  padding: 0 40px;
  margin: 0 auto;
}
/* line 175, ../sass/layout.scss */
html body #wrapper .timer_link {
  text-decoration: none;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
/* line 183, ../sass/layout.scss */
html body #wrapper .timer {
  width: 750px;
  height: 279px;
  position: relative;
  z-index: 100;
}
/* line 189, ../sass/layout.scss */
html body #wrapper .timer h1 {
  text-align: center;
  margin-bottom: 33px !important;
  top: 7px;
}
/* line 194, ../sass/layout.scss */
html body #wrapper .timer .remaining_time {
  font-size: 96pt;
  font-family: Bebas_Neue_Cyrillic;
  color: #666666;
  opacity: 0.4;
  letter-spacing: 8px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 203, ../sass/layout.scss */
html body #wrapper .timer .remaining_time span {
  font-size: 14pt;
  letter-spacing: 1px;
}
/* line 208, ../sass/layout.scss */
html body #wrapper .timer .subject {
  text-align: center;
  color: #666666;
  text-transform: uppercase;
  font-size: 10.5pt;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 400;
}
/* line 216, ../sass/layout.scss */
html body #wrapper .timer .it_has_begun {
  font-size: 75pt;
  font-family: Bebas_Neue_Cyrillic;
  color: #666666;
  opacity: 0.4;
  letter-spacing: 8px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 226, ../sass/layout.scss */
html body #wrapper .address {
  font-size: 9pt;
  color: rgba(102, 102, 102, 0.5);
  margin: -10px 0 18px;
}
/* line 230, ../sass/layout.scss */
html body #wrapper .address a {
  color: #666666;
}
/* line 233, ../sass/layout.scss */
html body #wrapper .address a:hover {
  color: red;
}
/* line 238, ../sass/layout.scss */
html body #wrapper .banner {
  width: 974px;
  height: 313px;
  margin-bottom: 25px;
}
/* line 243, ../sass/layout.scss */
html body #wrapper .banner h1 {
  background-color: white;
  display: inline-block;
  top: 20px;
  left: 20px;
  padding: 10px;
}
/* line 251, ../sass/layout.scss */
html body #wrapper .place {
  color: #666666;
  background: rgba(255, 255, 255, 0.9);
  width: 115px;
  padding: 25px;
  position: absolute;
}
/* line 257, ../sass/layout.scss */
html body #wrapper .place p {
  width: auto;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0;
}
/* line 264, ../sass/layout.scss */
html body #wrapper .place p .date {
  padding: 5px 10px;
  background: red;
  color: white;
  display: block;
  margin: 0 auto 20px;
  font-weight: normal;
  white-space: nowrap;
}
/* line 275, ../sass/layout.scss */
html body #wrapper h1 {
  font-size: 21pt;
  text-transform: uppercase;
  color: #454545;
  margin-bottom: 10px;
}
/* line 281, ../sass/layout.scss */
html body #wrapper h1 span {
  color: red;
  text-transform: none;
}
/* line 286, ../sass/layout.scss */
html body #wrapper h2, html body #wrapper h3 {
  text-transform: uppercase;
  border-bottom: 1px solid rgba(102, 102, 102, 0.4);
  color: #454545;
  line-height: 21pt;
  margin-bottom: 20px;
}
/* line 293, ../sass/layout.scss */
html body #wrapper h2 span:first-child, html body #wrapper h3 span:first-child {
  color: red;
  text-transform: none;
}
/* line 297, ../sass/layout.scss */
html body #wrapper h2 span:nth-child(2), html body #wrapper h3 span:nth-child(2) {
  color: #454545;
  text-transform: none;
}
/* line 301, ../sass/layout.scss */
html body #wrapper h2 a, html body #wrapper h3 a {
  text-decoration: none;
  color: inherit;
}
/* line 306, ../sass/layout.scss */
html body #wrapper h3 {
  font-weight: bold;
  border: none;
  font-size: 13.5pt;
}
/* line 311, ../sass/layout.scss */
html body #wrapper article {
  width: 640px;
}
/* line 313, ../sass/layout.scss */
html body #wrapper article p {
  font-size: 12pt;
  line-height: 18pt;
  margin-bottom: 24px;
}
/* line 317, ../sass/layout.scss */
html body #wrapper article p a {
  color: red;
}
/* line 323, ../sass/layout.scss */
html body #wrapper .news li {
  margin-bottom: 60px;
}
/* line 326, ../sass/layout.scss */
html body #wrapper .news img {
  float: left;
  margin-right: 20px;
}
/* line 330, ../sass/layout.scss */
html body #wrapper .news h4 {
  margin-bottom: 5px;
}
/* line 332, ../sass/layout.scss */
html body #wrapper .news h4 a {
  color: #454545;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 338, ../sass/layout.scss */
html body #wrapper .news h4 a:hover {
  color: red;
}
/* line 343, ../sass/layout.scss */
html body #wrapper .news span {
  font-size: 10pt;
  color: #999;
  margin-bottom: 20px;
  display: inline-block;
}
/* line 349, ../sass/layout.scss */
html body #wrapper .news p {
  font-size: 10.5pt;
  color: #666666;
  line-height: 15pt;
}
/* line 355, ../sass/layout.scss */
html body #wrapper aside {
  width: 264px;
  right: 40px;
  top: 0;
  position: absolute;
}
/* line 362, ../sass/layout.scss */
html body #wrapper aside ul:first-child li {
  margin-bottom: 10px;
}
/* line 365, ../sass/layout.scss */
html body #wrapper aside ul:first-child li a {
  color: white;
  display: block;
  width: 166px;
  background-color: rgba(102, 102, 102, 0.8);
  padding: 14px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 375, ../sass/layout.scss */
html body #wrapper aside ul:first-child li a:hover {
  opacity: 0.5;
}
/* line 380, ../sass/layout.scss */
html body #wrapper aside ul:first-child li:first-child a {
  background-color: red;
}
/* line 387, ../sass/layout.scss */
html body #wrapper aside ul.add li {
  margin-bottom: 23px;
}
/* line 390, ../sass/layout.scss */
html body #wrapper aside ul.add li .icon_bg {
  height: 60px;
  width: 60px;
  position: absolute;
  background-color: rgba(102, 102, 102, 0.8);
}
/* line 397, ../sass/layout.scss */
html body #wrapper aside ul.add li a {
  display: block;
  background-image: url(../images/sprite_icon.png);
  background-repeat: no-repeat;
  padding-left: 85px;
  text-decoration: none;
  text-transform: uppercase;
  height: 60px;
  color: #454545;
  font-size: 13.5pt;
}
/* line 408, ../sass/layout.scss */
html body #wrapper aside ul.add li a span {
  color: red;
  text-transform: none;
  font-size: 11pt;
  line-height: 21pt;
  display: block;
}
/* line 415, ../sass/layout.scss */
html body #wrapper aside ul.add li a.partners {
  background-position: 0 0;
}
/* line 418, ../sass/layout.scss */
html body #wrapper aside ul.add li a.jobs {
  background-position: 0 -83px;
}
/* line 421, ../sass/layout.scss */
html body #wrapper aside ul.add li a.speaker {
  background-position: 0 -166px;
}
/* line 426, ../sass/layout.scss */
html body #wrapper aside ul.add li:hover .icon_bg {
  background-color: rgba(102, 102, 102, 0.5);
}
/* line 429, ../sass/layout.scss */
html body #wrapper aside ul.add li:hover a {
  color: rgba(102, 102, 102, 0.5);
}
/* line 435, ../sass/layout.scss */
html body #wrapper aside iframe {
  margin-bottom: 20px;
}
/* line 438, ../sass/layout.scss */
html body #wrapper aside .play, html body #wrapper aside .appstore {
  display: block;
  margin: 0 auto 15px;
}
/* line 442, ../sass/layout.scss */
html body #wrapper aside .play {
  width: 153px;
  height: 49px;
  background-image: url(../images/logo_play.png);
}
/* line 447, ../sass/layout.scss */
html body #wrapper aside .appstore {
  width: 133px;
  height: 46px;
  background-image: url(../images/logo_appstore.png);
}
/* line 453, ../sass/layout.scss */
html body #wrapper #hfooter {
  height: 180px;
  clear: both;
}
/* line 459, ../sass/layout.scss */
html body #footer {
  width: 1054px;
  margin: -180px auto 0;
  height: 180px;
  position: relative;
}
/* line 465, ../sass/layout.scss */
html body #footer .inner {
  width: 974px;
  top: 35px;
  height: 110px;
  padding: 0 40px;
  margin: 0 auto;
  color: #666666;
  font-size: 10pt;
}
/* line 474, ../sass/layout.scss */
html body #footer .inner p {
  margin-bottom: 21px;
  line-height: 12pt;
}
/* line 479, ../sass/layout.scss */
html body #footer .inner .rights, html body #footer .inner .links, html body #footer .inner .social {
  float: left;
}
/* line 482, ../sass/layout.scss */
html body #footer .inner .rights {
  margin-right: 90px;
}
/* line 485, ../sass/layout.scss */
html body #footer .inner .rights a {
  color: red;
}
/* line 488, ../sass/layout.scss */
html body #footer .inner .rights a:hover {
  color: rgba(255, 0, 0, 0.5);
  text-decoration: underline;
}
/* line 494, ../sass/layout.scss */
html body #footer .inner .links {
  width: 250px;
  margin-right: 50px;
}
/* line 498, ../sass/layout.scss */
html body #footer .inner .links ul {
  top: 3px;
}
/* line 501, ../sass/layout.scss */
html body #footer .inner .links ul li {
  display: inline-block;
  width: 123px;
  margin-bottom: 11px;
}
/* line 506, ../sass/layout.scss */
html body #footer .inner .links ul li a {
  color: #666666;
}
/* line 509, ../sass/layout.scss */
html body #footer .inner .links ul li a:hover {
  color: rgba(102, 102, 102, 0.4);
  text-decoration: underline;
}
/* line 515, ../sass/layout.scss */
html body #footer .inner .links ul li:nth-child(5), html body #footer .inner .links ul li:nth-child(6) {
  width: 32px;
  top: 7px;
}
/* line 519, ../sass/layout.scss */
html body #footer .inner .links ul li:nth-child(5) .lang, html body #footer .inner .links ul li:nth-child(6) .lang {
  display: block;
  background-image: url(../images/sprite_flag.png);
  background-repeat: no-repeat;
  width: 28px;
  height: 18px;
  opacity: 0.5;
}
/* line 527, ../sass/layout.scss */
html body #footer .inner .links ul li:nth-child(5) .lang.ua, html body #footer .inner .links ul li:nth-child(6) .lang.ua {
  background-position: 0 0;
}
/* line 530, ../sass/layout.scss */
html body #footer .inner .links ul li:nth-child(5) .lang.uk, html body #footer .inner .links ul li:nth-child(6) .lang.uk {
  background-position: -32px 0;
}
/* line 533, ../sass/layout.scss */
html body #footer .inner .links ul li:nth-child(5) .lang.active, html body #footer .inner .links ul li:nth-child(5) .lang:hover, html body #footer .inner .links ul li:nth-child(6) .lang.active, html body #footer .inner .links ul li:nth-child(6) .lang:hover {
  opacity: 1 !important;
}
/* line 543, ../sass/layout.scss */
html body #footer .inner .social p {
  margin-bottom: 5px;
}
/* line 546, ../sass/layout.scss */
html body #footer .inner .social ul {
  margin-bottom: 10px;
}
/* line 549, ../sass/layout.scss */
html body #footer .inner .social ul li {
  display: inline-block;
  margin-right: 5px;
}
/* line 553, ../sass/layout.scss */
html body #footer .inner .social ul li a {
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(../images/sprite_social.png);
  background-color: rgba(102, 102, 102, 0.4);
}
/* line 560, ../sass/layout.scss */
html body #footer .inner .social ul li a.ml {
  background-position: 0 0;
}
/* line 563, ../sass/layout.scss */
html body #footer .inner .social ul li a.fl {
  background-position: -37px 0;
}
/* line 566, ../sass/layout.scss */
html body #footer .inner .social ul li a.tw {
  background-position: -74px 0;
}
/* line 569, ../sass/layout.scss */
html body #footer .inner .social ul li a.fb {
  background-position: -111px 0;
}
/* line 572, ../sass/layout.scss */
html body #footer .inner .social ul li a.yt {
  background-position: -148px 0;
}
/* line 575, ../sass/layout.scss */
html body #footer .inner .social ul li a.rc {
  background-position: -185px 0;
}
/* line 578, ../sass/layout.scss */
html body #footer .inner .social ul li a:hover {
  background-color: red;
}
/* line 584, ../sass/layout.scss */
html body #footer .inner .social span {
  color: #666666;
  opacity: 0.4;
  display: block;
  font-size: 8pt;
  margin-bottom: 7px;
}
/* line 591, ../sass/layout.scss */
html body #footer .inner .social .babich {
  display: inline-block;
  width: 97px;
  height: 32px;
  background: url(../images/logo_d.babych.png) no-repeat;
  margin-right: 24px;
}
/* line 598, ../sass/layout.scss */
html body #footer .inner .social .babich:hover {
  background-position: 0 -32px;
}
/* line 602, ../sass/layout.scss */
html body #footer .inner .social .pieoneers {
  display: inline-block;
  width: 100px;
  height: 32px;
  background: url(../images/logo_pieoneers.png) no-repeat;
}

/* line 3, ../sass/slides.scss */
#slides .slidesjs-pagination, #slides_1 .slidesjs-pagination, #slides_2 .slidesjs-pagination, #slides_3 .slidesjs-pagination, #slides_4 .slidesjs-pagination {
  margin: 0 auto;
  width: 100px;
  text-align: center;
}
/* line 8, ../sass/slides.scss */
#slides .slidesjs-pagination li, #slides_1 .slidesjs-pagination li, #slides_2 .slidesjs-pagination li, #slides_3 .slidesjs-pagination li, #slides_4 .slidesjs-pagination li {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  padding: 0;
  display: inline-block;
}
/* line 15, ../sass/slides.scss */
#slides .slidesjs-pagination li:first-child, #slides_1 .slidesjs-pagination li:first-child, #slides_2 .slidesjs-pagination li:first-child, #slides_3 .slidesjs-pagination li:first-child, #slides_4 .slidesjs-pagination li:first-child {
  margin-left: 0;
}
/* line 18, ../sass/slides.scss */
#slides .slidesjs-pagination li:last-child, #slides_1 .slidesjs-pagination li:last-child, #slides_2 .slidesjs-pagination li:last-child, #slides_3 .slidesjs-pagination li:last-child, #slides_4 .slidesjs-pagination li:last-child {
  margin-right: 0;
}
/* line 22, ../sass/slides.scss */
#slides .slidesjs-pagination li a, #slides_1 .slidesjs-pagination li a, #slides_2 .slidesjs-pagination li a, #slides_3 .slidesjs-pagination li a, #slides_4 .slidesjs-pagination li a {
  width: 12px;
  height: 12px;
  float: left;
  display: block;
  background: rgba(102, 102, 102, 0.5);
  color: transparent;
}
/* line 30, ../sass/slides.scss */
#slides .slidesjs-pagination li a.active, #slides_1 .slidesjs-pagination li a.active, #slides_2 .slidesjs-pagination li a.active, #slides_3 .slidesjs-pagination li a.active, #slides_4 .slidesjs-pagination li a.active {
  cursor: default;
  background-color: #666666;
}
/* line 37, ../sass/slides.scss */
#slides .slidesjs-navigation, #slides_1 .slidesjs-navigation, #slides_2 .slidesjs-navigation, #slides_3 .slidesjs-navigation, #slides_4 .slidesjs-navigation {
  display: none;
}
/* line 41, ../sass/slides.scss */
#slides .slidesjs-container, #slides_1 .slidesjs-container, #slides_2 .slidesjs-container, #slides_3 .slidesjs-container, #slides_4 .slidesjs-container {
  margin-bottom: 10px;
}
/* line 46, ../sass/slides.scss */
#slides .slidesjs-container ul li, #slides_1 .slidesjs-container ul li, #slides_2 .slidesjs-container ul li, #slides_3 .slidesjs-container ul li, #slides_4 .slidesjs-container ul li {
  display: inline-block;
  padding: 10px;
  width: 120px;
  height: 156px;
  margin: 0 11px;
  vertical-align: top;
}
/* line 54, ../sass/slides.scss */
#slides .slidesjs-container ul li:first-child, #slides_1 .slidesjs-container ul li:first-child, #slides_2 .slidesjs-container ul li:first-child, #slides_3 .slidesjs-container ul li:first-child, #slides_4 .slidesjs-container ul li:first-child {
  margin-left: 0;
}
/* line 57, ../sass/slides.scss */
#slides .slidesjs-container ul li:last-child, #slides_1 .slidesjs-container ul li:last-child, #slides_2 .slidesjs-container ul li:last-child, #slides_3 .slidesjs-container ul li:last-child, #slides_4 .slidesjs-container ul li:last-child {
  margin-right: 0;
}
/* line 62, ../sass/slides.scss */
#slides .slidesjs-container ul li:hover a, #slides_1 .slidesjs-container ul li:hover a, #slides_2 .slidesjs-container ul li:hover a, #slides_3 .slidesjs-container ul li:hover a, #slides_4 .slidesjs-container ul li:hover a {
  visibility: visible;
}
/* line 67, ../sass/slides.scss */
#slides .slidesjs-container ul li img, #slides_1 .slidesjs-container ul li img, #slides_2 .slidesjs-container ul li img, #slides_3 .slidesjs-container ul li img, #slides_4 .slidesjs-container ul li img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 72, ../sass/slides.scss */
#slides .slidesjs-container ul li .theme, #slides_1 .slidesjs-container ul li .theme, #slides_2 .slidesjs-container ul li .theme, #slides_3 .slidesjs-container ul li .theme, #slides_4 .slidesjs-container ul li .theme {
  color: white;
  text-decoration: none;
  visibility: hidden;
  background-color: rgba(255, 0, 0, 0.8);
  text-align: center;
  height: 100px;
  display: block;
  font-size: 10pt;
  font-weight: bold;
  padding: 10px;
  line-height: 11pt;
}
/* line 85, ../sass/slides.scss */
#slides .slidesjs-container ul li .theme span, #slides_1 .slidesjs-container ul li .theme span, #slides_2 .slidesjs-container ul li .theme span, #slides_3 .slidesjs-container ul li .theme span, #slides_4 .slidesjs-container ul li .theme span {
  text-transform: uppercase;
  font-size: 7.5pt;
  display: block;
  margin-bottom: 10px;
}
/* line 92, ../sass/slides.scss */
#slides .slidesjs-container ul li .speaker_name, #slides_1 .slidesjs-container ul li .speaker_name, #slides_2 .slidesjs-container ul li .speaker_name, #slides_3 .slidesjs-container ul li .speaker_name, #slides_4 .slidesjs-container ul li .speaker_name {
  font-size: 10pt;
  text-transform: uppercase;
  position: absolute;
  top: 146px;
  left: 0;
}

/* line 1, ../sass/index.scss */
#container.i {
  min-height: 1700px;
}
/* line 4, ../sass/index.scss */
#container.i .about {
  margin-bottom: 60px;
}
/* line 7, ../sass/index.scss */
#container.i .speakers {
  z-index: 100;
  padding-bottom: 27px;
}
/* line 12, ../sass/index.scss */
#container.i aside ul:first-child {
  margin: 59px 0 63px 52px;
}
/* line 15, ../sass/index.scss */
#container.i aside ul.add {
  margin-bottom: 358px;
}

/* line 1, ../sass/events.scss */
#container.e {
  margin-bottom: 80px !important;
}
/* line 3, ../sass/events.scss */
#container.e .banner {
  background: url(../images/banner_events.jpg) 50% 50%;
}
/* line 6, ../sass/events.scss */
#container.e .banner a {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
}
/* line 17, ../sass/events.scss */
#container.e article .events li {
  margin-bottom: 65px;
  font-size: 10.5pt;
}
/* line 21, ../sass/events.scss */
#container.e article .events li img {
  display: block;
  margin-bottom: 20px;
}
/* line 25, ../sass/events.scss */
#container.e article .events li p {
  font-size: 10.5pt;
  line-height: 15pt;
  width: 430px;
  display: inline-block;
  margin-bottom: 20px;
}
/* line 33, ../sass/events.scss */
#container.e article .events li .materials span {
  font-weight: bold;
  padding-right: 30px;
}
/* line 36, ../sass/events.scss */
#container.e article .events li .materials span a {
  color: red;
}
/* line 41, ../sass/events.scss */
#container.e article .events li .place {
  border: 3px solid #666666;
  display: inline-block;
  vertical-align: top;
  right: 0;
  width: auto;
  max-width: 160px;
}
/* line 49, ../sass/events.scss */
#container.e article .events li .place p {
  width: auto;
  margin: 0;
}
/* line 58, ../sass/events.scss */
#container.e aside ul:first-child {
  margin: 90px 0 110px 52px;
}
/* line 61, ../sass/events.scss */
#container.e aside ul.add {
  margin-bottom: 80px;
}
/* line 64, ../sass/events.scss */
#container.e aside ul.partners {
  width: 100%;
}
/* line 66, ../sass/events.scss */
#container.e aside ul.partners li {
  display: inline-block;
  width: 120px;
  height: 72px;
  margin: 0 8px 13px 0;
}

/* line 1, ../sass/about.scss */
#container.a {
  margin-bottom: 80px !important;
}
/* line 3, ../sass/about.scss */
#container.a .banner {
  background: url(../images/banner_about.jpg) 50% 50%;
  height: 261px !important;
}
/* line 7, ../sass/about.scss */
#container.a .content {
  width: 760px;
  left: 214px;
}
/* line 11, ../sass/about.scss */
#container.a .content article {
  width: auto !important;
  margin-bottom: 20px;
}
/* line 16, ../sass/about.scss */
#container.a .content article.what_is p {
  font-size: 12pt !important;
}
/* line 21, ../sass/about.scss */
#container.a .content article p {
  font-size: 10.5pt !important;
}
/* line 24, ../sass/about.scss */
#container.a .content article .inner {
  display: inline-block;
  width: 495px;
  margin-right: 28px;
}
/* line 29, ../sass/about.scss */
#container.a .content article .inner span {
  color: red;
}
/* line 33, ../sass/about.scss */
#container.a .content article .frame {
  border: 4px solid rgba(102, 102, 102, 0.5);
  display: inline-block;
  width: 188px;
  vertical-align: top;
  margin-top: 56px;
  text-align: center;
  padding: 0 16px;
}
/* line 42, ../sass/about.scss */
#container.a .content article .frame.left {
  text-align: left;
}
/* line 46, ../sass/about.scss */
#container.a .content article .frame p {
  margin-top: 20px;
}
/* line 49, ../sass/about.scss */
#container.a .content article .frame p span {
  display: inline;
  color: red;
  margin: 0;
}
/* line 56, ../sass/about.scss */
#container.a .content article .frame span {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 7px;
  margin-left: 43px;
}
/* line 63, ../sass/about.scss */
#container.a .content article .frame span:first-letter {
  color: red;
}
/* line 68, ../sass/about.scss */
#container.a .content article .frame ul li {
  padding: 25px 0;
  font-size: 11pt;
  line-height: 15pt;
  background: url(../images/separator.png) no-repeat 50% 100%;
}
/* line 74, ../sass/about.scss */
#container.a .content article .frame ul li:last-child {
  background: none;
}
/* line 78, ../sass/about.scss */
#container.a .content article .frame ul li span {
  display: inline;
  color: red;
  margin: 0;
}
/* line 88, ../sass/about.scss */
#container.a .content .history .first_ted {
  margin-bottom: 40px;
}
/* line 90, ../sass/about.scss */
#container.a .content .history .first_ted .cd, #container.a .content .history .first_ted .mac {
  width: 160px;
  height: 50px;
  padding: 105px 10px 0;
  display: inline-block;
  vertical-align: top;
}
/* line 97, ../sass/about.scss */
#container.a .content .history .first_ted .cd p, #container.a .content .history .first_ted .mac p {
  border-top: 1px solid #666666;
  font-style: italic;
  color: #666666;
  text-align: center;
  padding-top: 12px;
  line-height: 14pt;
}
/* line 106, ../sass/about.scss */
#container.a .content .history .first_ted .about_first_ted {
  display: inline-block;
  width: 330px;
  margin: 15px 30px;
  line-height: 17pt;
}
/* line 112, ../sass/about.scss */
#container.a .content .history .first_ted .cd {
  background: url(../images/cd.png) no-repeat 50% 12px;
}
/* line 115, ../sass/about.scss */
#container.a .content .history .first_ted .mac {
  background: url(../images/mac.png) no-repeat 50% 0;
}
/* line 120, ../sass/about.scss */
#container.a .content .history .chronology h2 {
  margin-bottom: 27px;
}
/* line 125, ../sass/about.scss */
#container.a .content .history .chronology ul li {
  padding: 0;
  width: 230px;
  margin: 0 15px;
  vertical-align: top;
  display: inline-block;
  height: 100% !important;
}
/* line 133, ../sass/about.scss */
#container.a .content .history .chronology ul li:first-child {
  margin-left: 0;
}
/* line 136, ../sass/about.scss */
#container.a .content .history .chronology ul li:last-child {
  margin-right: 0;
}
/* line 140, ../sass/about.scss */
#container.a .content .history .chronology ul li .year {
  font-family: Bebas_Neue_Cyrillic;
  color: #666666;
  opacity: 0.4;
  font-size: 57pt;
  margin-bottom: 25px;
}
/* line 147, ../sass/about.scss */
#container.a .content .history .chronology ul li h6 {
  font-size: 13pt;
  font-weight: bold;
  margin-bottom: 19px;
}
/* line 152, ../sass/about.scss */
#container.a .content .history .chronology ul li p {
  line-height: 17pt;
}
/* line 155, ../sass/about.scss */
#container.a .content .history .chronology ul li span {
  color: red;
}
/* line 158, ../sass/about.scss */
#container.a .content .history .chronology ul li .about_smb {
  color: #666666 !important;
  font-size: 10.5pt !important;
  line-height: 14pt;
}
/* line 163, ../sass/about.scss */
#container.a .content .history .chronology ul li img {
  position: relative;
  float: left;
  margin-right: 10px;
}
/* line 172, ../sass/about.scss */
#container.a .content .notability {
  margin-bottom: 50px;
}
/* line 176, ../sass/about.scss */
#container.a .content .notability ul li {
  padding: 0;
  width: 160px;
  height: 180px;
  margin: 0 16px;
  vertical-align: top;
  display: inline-block;
}
/* line 184, ../sass/about.scss */
#container.a .content .notability ul li:first-child {
  margin-left: 0;
}
/* line 187, ../sass/about.scss */
#container.a .content .notability ul li:last-child {
  margin-right: 0;
}
/* line 191, ../sass/about.scss */
#container.a .content .notability ul li img {
  position: relative;
}
/* line 194, ../sass/about.scss */
#container.a .content .notability ul li p {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-size: 11pt;
  padding: 10px 0;
  line-height: 10pt;
}
/* line 202, ../sass/about.scss */
#container.a .content .notability ul li p span {
  font-size: 9pt;
  display: block;
  text-transform: none;
  margin-top: 5px;
}
/* line 212, ../sass/about.scss */
#container.a .content .speakers {
  margin-bottom: 20px;
}
/* line 216, ../sass/about.scss */
#container.a .content .speakers ul li {
  display: inline-block;
  padding: 10px;
  width: 120px;
  height: 156px;
  margin: 0 5px;
  vertical-align: top;
}
/* line 224, ../sass/about.scss */
#container.a .content .speakers ul li:first-child {
  margin-left: 0;
}
/* line 227, ../sass/about.scss */
#container.a .content .speakers ul li:last-child {
  margin-right: 0;
}
/* line 232, ../sass/about.scss */
#container.a .content .speakers ul li:hover a {
  visibility: visible;
}
/* line 237, ../sass/about.scss */
#container.a .content .speakers ul li img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 243, ../sass/about.scss */
#container.a .content .speakers ul li p {
  margin-bottom: 0;
  white-space: nowrap;
}
/* line 247, ../sass/about.scss */
#container.a .content .speakers ul li .theme {
  color: white;
  text-decoration: none;
  visibility: hidden;
  background-color: rgba(255, 0, 0, 0.8);
  text-align: center;
  height: 100px;
  display: block;
  font-size: 10pt;
  font-weight: bold;
  padding: 10px;
  line-height: 11pt;
}
/* line 260, ../sass/about.scss */
#container.a .content .speakers ul li .theme span {
  text-transform: uppercase;
  font-size: 7.5pt;
  display: block;
  margin-bottom: 10px;
}
/* line 267, ../sass/about.scss */
#container.a .content .speakers ul li .speaker_name {
  font-size: 10pt;
  text-transform: uppercase;
  position: absolute;
  top: 146px;
  left: 0;
}
/* line 277, ../sass/about.scss */
#container.a .content .side {
  text-align: center;
  width: 232px;
  display: inline-block;
  vertical-align: top;
  font-size: 13.5pt !important;
  font-weight: bold;
}
/* line 286, ../sass/about.scss */
#container.a aside.about_nav {
  position: absolute;
  left: 40px;
  top: 360px;
}
/* line 291, ../sass/about.scss */
#container.a aside.about_nav span {
  color: red;
  text-transform: none;
}
/* line 296, ../sass/about.scss */
#container.a aside.about_nav dl {
  margin-bottom: 20px;
}
/* line 299, ../sass/about.scss */
#container.a aside.about_nav dl dt {
  color: #454545;
  text-transform: uppercase;
  margin: 0 0 20px 10px;
}
/* line 304, ../sass/about.scss */
#container.a aside.about_nav dl dd {
  padding-left: 20px;
  line-height: 26pt;
}
/* line 307, ../sass/about.scss */
#container.a aside.about_nav dl dd a {
  color: #666666;
  text-decoration: none;
  font-size: 11pt;
  cursor: pointer;
}
/* line 313, ../sass/about.scss */
#container.a aside.about_nav dl dd a:hover {
  text-decoration: underline;
}

/* line 2, ../sass/future_event.scss */
#container.f .head_aside {
  right: 40px;
  top: 0;
}
/* line 5, ../sass/future_event.scss */
#container.f .head_aside .place {
  background: #ececec;
  width: 146px;
  position: relative;
  left: 52px;
  margin-bottom: -50px;
}
/* line 13, ../sass/future_event.scss */
#container.f ul.speech_description, #container.f .members_description {
  margin: 40px 0;
}
/* line 16, ../sass/future_event.scss */
#container.f ul.speech_description li, #container.f .members_description li {
  display: none;
}
/* line 19, ../sass/future_event.scss */
#container.f ul.speech_description li.show, #container.f .members_description li.show {
  display: block;
}
/* line 23, ../sass/future_event.scss */
#container.f ul.speech_description li .close, #container.f .members_description li .close {
  display: block;
  width: 26px;
  height: 26px;
  margin: 0 auto 40px;
  background: url(../images/close.png) no-repeat 50% 50%;
}
/* line 30, ../sass/future_event.scss */
#container.f ul.speech_description li .close:hover, #container.f .members_description li .close:hover {
  opacity: 0.5;
}
/* line 34, ../sass/future_event.scss */
#container.f ul.speech_description li h3, #container.f .members_description li h3 {
  font-size: 13.5pt;
  color: red;
  text-align: center;
  text-transform: uppercase;
}
/* line 40, ../sass/future_event.scss */
#container.f ul.speech_description li h3 span, #container.f .members_description li h3 span {
  font-size: 10.5pt;
  color: #666666;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  display: block;
}
/* line 49, ../sass/future_event.scss */
#container.f ul.speech_description li .theme, #container.f .members_description li .theme {
  display: block;
  font-size: 9pt;
  text-align: center;
  color: rgba(102, 102, 102, 0.5);
  text-transform: uppercase;
  margin-bottom: 13px;
}
/* line 57, ../sass/future_event.scss */
#container.f ul.speech_description li h2, #container.f .members_description li h2 {
  border: none;
  color: #454545;
  text-transform: uppercase;
  text-align: center;
  font-size: 18pt;
  font-weight: bold;
}
/* line 65, ../sass/future_event.scss */
#container.f ul.speech_description li p, #container.f .members_description li p {
  width: 620px;
  text-align: center;
  margin: 0 auto 33px;
  line-height: 15pt;
}
/* line 71, ../sass/future_event.scss */
#container.f ul.speech_description li .contact_info, #container.f .members_description li .contact_info {
  font-weight: bold;
  color: #454545;
}
/* line 77, ../sass/future_event.scss */
#container.f .content {
  width: 750px;
  left: 214px;
}
/* line 81, ../sass/future_event.scss */
#container.f .content article {
  width: 100%;
}
/* line 83, ../sass/future_event.scss */
#container.f .content article p {
  font-size: 10.5pt;
}
/* line 86, ../sass/future_event.scss */
#container.f .content article p span {
  color: red;
}
/* line 91, ../sass/future_event.scss */
#container.f .content article .text_list {
  margin: -14px 0 24px;
}
/* line 93, ../sass/future_event.scss */
#container.f .content article .text_list li {
  text-indent: -20px;
  margin: 0 0 10px 20px;
  font-size: 10.5pt;
  line-height: 18pt;
}
/* line 99, ../sass/future_event.scss */
#container.f .content article .text_list li span {
  color: rgba(102, 102, 102, 0.5);
  font-style: italic;
}
/* line 104, ../sass/future_event.scss */
#container.f .content article .text_list li strong span {
  font-style: normal;
  color: red;
}
/* line 111, ../sass/future_event.scss */
#container.f .content article h4 {
  font-size: 11pt;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 116, ../sass/future_event.scss */
#container.f .content article h4 span {
  color: red;
}
/* line 120, ../sass/future_event.scss */
#container.f .content article .time {
  padding-left: 20px;
  background: url(../images/clock.png) no-repeat 0 50%;
  color: #666666;
  font-size: 10.5pt;
  margin-bottom: 10px;
}
/* line 127, ../sass/future_event.scss */
#container.f .content article .speakers {
  margin-bottom: 20px;
}
/* line 129, ../sass/future_event.scss */
#container.f .content article .speakers #slides_1, #container.f .content article .speakers #slides_2 {
  width: 100%;
  height: 170px;
}
/* line 133, ../sass/future_event.scss */
#container.f .content article .speakers #slides_1 ul, #container.f .content article .speakers #slides_2 ul {
  margin-right: 12px;
}
/* line 136, ../sass/future_event.scss */
#container.f .content article .speakers #slides_1 ul li, #container.f .content article .speakers #slides_2 ul li {
  margin: 0 5px;
}
/* line 139, ../sass/future_event.scss */
#container.f .content article .speakers #slides_1 ul li:first-child, #container.f .content article .speakers #slides_2 ul li:first-child {
  margin: 0 5px 0 0;
}
/* line 142, ../sass/future_event.scss */
#container.f .content article .speakers #slides_1 ul li:last-child, #container.f .content article .speakers #slides_2 ul li:last-child {
  margin: 0 0 0 5px;
}
/* line 146, ../sass/future_event.scss */
#container.f .content article .speakers #slides_1 ul li p, #container.f .content article .speakers #slides_2 ul li p {
  margin-bottom: 0;
  white-space: nowrap;
}
/* line 154, ../sass/future_event.scss */
#container.f .content article:last-child {
  margin-bottom: 100px;
}
/* line 160, ../sass/future_event.scss */
#container.f .events li {
  display: inline-block;
  width: 240px;
  vertical-align: top;
}
/* line 165, ../sass/future_event.scss */
#container.f .events li .year {
  font-family: Bebas_Neue_Cyrillic;
  color: #666666;
  opacity: 0.5;
  font-size: 34pt;
  margin-bottom: 10px;
}
/* line 172, ../sass/future_event.scss */
#container.f .events li .year span {
  display: block;
  text-align: center;
  width: 68px;
  top: -10px;
}
/* line 179, ../sass/future_event.scss */
#container.f .events li .event_name {
  font-weight: bold;
  font-size: 11pt;
  margin-bottom: 10px;
  text-decoration: none;
  display: block;
  color: #454545;
  line-height: 15pt;
}
/* line 188, ../sass/future_event.scss */
#container.f .events li .event_name span {
  color: red;
}
/* line 192, ../sass/future_event.scss */
#container.f .events li .event_name:hover {
  text-decoration: underline;
}
/* line 196, ../sass/future_event.scss */
#container.f .events li .date {
  background: rgba(102, 102, 102, 0.5);
  display: inline-block;
  color: white;
  font-size: 9pt;
  padding: 8px 12px;
  margin-bottom: 40px;
}
/* line 205, ../sass/future_event.scss */
#container.f .events li.active .year {
  color: red;
  opacity: 1;
}
/* line 212, ../sass/future_event.scss */
#container.f aside.event_nav {
  position: absolute;
  left: 40px !important;
  top: 365px;
}
/* line 217, ../sass/future_event.scss */
#container.f aside.event_nav span {
  color: red;
  text-transform: none;
}
/* line 222, ../sass/future_event.scss */
#container.f aside.event_nav dl {
  font-size: 13.5pt;
}
/* line 225, ../sass/future_event.scss */
#container.f aside.event_nav dl dt {
  color: #454545;
  text-transform: uppercase;
  margin: 0 0 10px 10px;
  padding: 15px;
  background: rgba(102, 102, 102, 0.8);
  color: white;
  display: inline-block;
}
/* line 234, ../sass/future_event.scss */
#container.f aside.event_nav dl dd {
  padding-left: 25px;
  line-height: 26pt;
  text-transform: uppercase;
}
/* line 238, ../sass/future_event.scss */
#container.f aside.event_nav dl dd a {
  color: #666666;
  text-decoration: none;
}
/* line 241, ../sass/future_event.scss */
#container.f aside.event_nav dl dd a:hover {
  text-decoration: underline;
}

/* line 2, ../sass/last_event.scss */
#container.l .banner {
  background: url(../images/banner_last_event.jpg) 50% 50% !important;
  height: 271px !important;
}

/* line 2, ../sass/team.scss */
#container.t ul.members {
  margin-top: 40px;
}
/* line 5, ../sass/team.scss */
#container.t ul.members li {
  display: inline-block;
  width: 170px;
  margin: 0 13px;
}
/* line 10, ../sass/team.scss */
#container.t ul.members li:first-child {
  margin-left: 0;
}
/* line 13, ../sass/team.scss */
#container.t ul.members li:last-child {
  margin-right: 0;
}
/* line 18, ../sass/team.scss */
#container.t ul.members li img {
  display: block;
  margin-bottom: 15px;
  cursor: pointer;
}
/* line 23, ../sass/team.scss */
#container.t ul.members li img:hover {
  opacity: 0.8;
}
/* line 28, ../sass/team.scss */
#container.t ul.members li p {
  text-align: center;
  text-transform: uppercase;
  color: #454545;
  font-size: 12pt;
  line-height: 15pt;
}
/* line 36, ../sass/team.scss */
#container.t ul.members li p span {
  display: block;
  text-align: center;
  text-transform: none;
  font-size: 10pt;
}

/* line 2, ../sass/geton.scss */
#container.g .banner {
  height: 272px !important;
}
/* line 5, ../sass/geton.scss */
#container.g .banner.v {
  background: url(../images/banner_geton_v.jpg) 50% 50% !important;
}
/* line 8, ../sass/geton.scss */
#container.g .banner.s {
  background: url(../images/banner_geton_s.jpg) 50% 50% !important;
}
/* line 11, ../sass/geton.scss */
#container.g .banner.p {
  background: url(../images/banner_geton_p.jpg) 50% 50% !important;
}
/* line 16, ../sass/geton.scss */
#container.g article .inner {
  margin-right: 20px !important;
}
/* line 19, ../sass/geton.scss */
#container.g article p.intro {
  font-size: 14pt !important;
  line-height: 20pt;
}
/* line 23, ../sass/geton.scss */
#container.g article p.intro span {
  color: red;
}
/* line 28, ../sass/geton.scss */
#container.g article h2 span {
  color: red !important;
}
/* line 34, ../sass/geton.scss */
#container.g article .text_list li:last-child ol {
  margin-top: 10px;
}
/* line 37, ../sass/geton.scss */
#container.g article .text_list li:last-child ol li {
  text-indent: 0;
}
/* line 43, ../sass/geton.scss */
#container.g article .registation {
  color: white;
  font-size: 13.5pt;
  background: red;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 0;
  display: block;
  width: 190px;
  height: 24px;
  text-align: center;
  margin: 15px auto;
  text-indent: 0;
}
/* line 57, ../sass/geton.scss */
#container.g article .registation.form {
  width: 330px;
}
/* line 61, ../sass/geton.scss */
#container.g article .registation:hover {
  opacity: 0.5;
}
/* line 65, ../sass/geton.scss */
#container.g article .quote {
  width: 390px !important;
  height: 140px;
  left: 130px;
  padding: 30px !important;
  margin-top: 10px !important;
}
/* line 72, ../sass/geton.scss */
#container.g article .quote img {
  float: left;
  margin-right: 15px;
}
/* line 77, ../sass/geton.scss */
#container.g article .quote p {
  text-align: left !important;
}
/* line 80, ../sass/geton.scss */
#container.g article .quote p.name {
  text-transform: uppercase;
  line-height: 15pt;
  margin: 0 !important;
}
/* line 85, ../sass/geton.scss */
#container.g article .quote p.quote_text {
  clear: both;
  font-style: italic;
  margin-top: 10px !important;
}
/* line 91, ../sass/geton.scss */
#container.g article .quote p span {
  color: rgba(102, 102, 102, 0.5) !important;
  font-style: italic;
  text-transform: none;
  font-size: 10pt;
  font-weight: normal !important;
  display: block !important;
}
/* line 99, ../sass/geton.scss */
#container.g article .quote p span:first-letter {
  color: rgba(102, 102, 102, 0.5) !important;
}
/* line 105, ../sass/geton.scss */
#container.g article .quote li {
  background: none !important;
  padding: 0 !important;
}
/* line 112, ../sass/geton.scss */
#container.g .required h5 {
  font-size: 13.5pt;
  color: rgba(102, 102, 102, 0.5);
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}
/* line 119, ../sass/geton.scss */
#container.g .required h5 span {
  border-bottom: 2px dotted rgba(102, 102, 102, 0.5);
}
/* line 122, ../sass/geton.scss */
#container.g .required h5 span:hover {
  border-bottom: none;
}
/* line 127, ../sass/geton.scss */
#container.g .required p {
  margin-left: 25px;
}
/* line 130, ../sass/geton.scss */
#container.g .required a {
  color: white;
  font-size: 13.5pt;
  background: red;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 0;
  display: block;
  width: 230px;
  text-align: center;
  margin: 0 auto;
}
/* line 142, ../sass/geton.scss */
#container.g .required a:hover {
  opacity: 0.5;
}
/* line 146, ../sass/geton.scss */
#container.g .required div {
  margin-bottom: 40px;
  display: none;
}
/* line 152, ../sass/geton.scss */
#container.g .frame p {
  margin-bottom: 15px !important;
}
/* line 155, ../sass/geton.scss */
#container.g .frame .feature {
  margin-bottom: 25px;
}
/* line 157, ../sass/geton.scss */
#container.g .frame .feature li {
  background: none !important;
  padding: 10px 0 !important;
  font-size: 13.5pt !important;
}
/* line 162, ../sass/geton.scss */
#container.g .frame .feature li span {
  display: block !important;
  text-align: center;
  font-size: 10pt !important;
  font-style: italic;
  font-weight: normal;
  color: #666666 !important;
}
/* line 170, ../sass/geton.scss */
#container.g .frame .feature li span:first-letter {
  color: #666666;
}
/* line 178, ../sass/geton.scss */
#container.g .appeal p:first-child {
  text-transform: uppercase;
  font-size: 18pt !important;
  text-align: center;
  line-height: 28pt;
  margin-bottom: 15px !important;
}
/* line 185, ../sass/geton.scss */
#container.g .appeal p:last-child {
  font-size: 13pt !important;
  text-align: center;
  margin-bottom: 0 !important;
}
/* line 190, ../sass/geton.scss */
#container.g .appeal p:last-child a {
  color: red;
}
/* line 195, ../sass/geton.scss */
#container.g .banner_2013 {
  margin-bottom: 10px;
}
/* line 198, ../sass/geton.scss */
#container.g .footnote {
  font-style: italic;
  display: block;
  color: rgba(102, 102, 102, 0.5);
  font-size: 10pt !important;
  margin-bottom: 0;
  text-indent: 20px;
}
/* line 206, ../sass/geton.scss */
#container.g .ideas {
  border: 4px solid rgba(102, 102, 102, 0.5);
  padding: 20px 35px;
  margin-bottom: 20px;
}
/* line 213, ../sass/geton.scss */
#container.g .ideas dl dt, #container.g .ideas dl p {
  text-transform: uppercase;
  font-size: 10.5pt;
  font-weight: bold;
  white-space: nowrap;
}
/* line 219, ../sass/geton.scss */
#container.g .ideas dl dt span, #container.g .ideas dl p span {
  text-transform: none;
  font-style: italic;
  font-weight: normal;
  display: block;
  color: rgba(102, 102, 102, 0.5);
  font-size: 10pt;
  white-space: normal;
  padding-left: 38px;
}
/* line 230, ../sass/geton.scss */
#container.g .ideas dl dt {
  margin-bottom: 20px;
}
/* line 234, ../sass/geton.scss */
#container.g .ideas dl dd {
  display: inline-block;
  width: 220px;
  margin-bottom: 30px;
  vertical-align: top;
}
/* line 240, ../sass/geton.scss */
#container.g .ideas dl dd img {
  float: left;
  margin-right: 10px;
  display: block;
}
/* line 245, ../sass/geton.scss */
#container.g .ideas dl dd:last-child {
  margin-bottom: 0;
}
/* line 247, ../sass/geton.scss */
#container.g .ideas dl dd:last-child p {
  top: 5px;
}
/* line 254, ../sass/geton.scss */
#container.g aside.geton_menu {
  position: absolute;
  left: 40px !important;
  top: 355px;
  width: 170px;
}
/* line 260, ../sass/geton.scss */
#container.g aside.geton_menu ul {
  font-size: 12pt;
}
/* line 263, ../sass/geton.scss */
#container.g aside.geton_menu ul li {
  padding: 10px 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}
/* line 268, ../sass/geton.scss */
#container.g aside.geton_menu ul li.active {
  padding: 0;
  margin: 5px 0;
}
/* line 272, ../sass/geton.scss */
#container.g aside.geton_menu ul li.active a {
  color: white;
  padding: 18px 20px;
  background: rgba(102, 102, 102, 0.8) !important;
  display: inline-block;
  width: auto;
}
/* line 279, ../sass/geton.scss */
#container.g aside.geton_menu ul li.active a:hover {
  text-decoration: none;
}
/* line 284, ../sass/geton.scss */
#container.g aside.geton_menu ul li a {
  color: #666666;
  text-decoration: none;
  display: inline;
  padding: 0;
  background: none !important;
}
/* line 291, ../sass/geton.scss */
#container.g aside.geton_menu ul li a:hover {
  text-decoration: underline;
  opacity: 1;
}
