/* line 13, ../sass/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  position: relative;
}

/* line 24, ../sass/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../sass/reset.scss */
body {
  line-height: 1;
}

/* line 32, ../sass/reset.scss */
ul {
  list-style: none;
}

/* line 36, ../sass/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 51, ../sass/reset.scss */
.field_with_errors {
  display: inline;
}

@font-face {
  font-family: 'Bebas_Neue_Cyrillic';
  src: url("../fonts/Bebas_Neue_Cyrillic.eot");
  src: url("../fonts/Bebas_Neue_Cyrillic.eot?#iefix") format("embedded-opentype"), url("../fonts/Bebas_Neue_Cyrillic.woff") format("woff"), url("../fonts/Bebas_Neue_Cyrillic.ttf") format("truetype"), url("../fonts/Bebas_Neue_Cyrillic.svg#Bebas_Neue_Cyrillic") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 12, ../sass/layout.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 16, ../sass/layout.scss */
html {
  height: 100%;
}
/* line 19, ../sass/layout.scss */
html body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  /*footer*/
}
/* line 25, ../sass/layout.scss */
html body header, html body nav, html body section, html body article, html body aside, html body footer {
  display: block;
}
/* line 28, ../sass/layout.scss */
html body a {
  outline: none;
  text-decoration: underline;
}
/* line 32, ../sass/layout.scss */
html body a:hover {
  text-decoration: none;
}
/* line 36, ../sass/layout.scss */
html body img {
  border: none;
}
/* line 39, ../sass/layout.scss */
html body input {
  vertical-align: middle;
}
/* line 42, ../sass/layout.scss */
html body #wrapper {
  width: 1054px;
  margin: 0 auto 180px;
  min-height: 100%;
  color: #666666;
}
/* line 48, ../sass/layout.scss */
html body #wrapper #header {
  height: 137px;
  font-size: 12pt;
  display: block;
}
/* line 53, ../sass/layout.scss */
html body #wrapper #header .inner {
  width: 974px;
  padding: 0 40px;
  margin: 0 auto;
}
/* line 58, ../sass/layout.scss */
html body #wrapper #header .inner .logo {
  display: inline-block;
  width: 238px;
  height: 65px;
  margin: 35px 0;
  background: url(../images/logo.png) no-repeat;
}
/* line 65, ../sass/layout.scss */
html body #wrapper #header .inner nav {
  display: inline-block;
  position: absolute;
  cursor: default;
  top: 52px;
  margin-left: 120px;
}
/* line 73, ../sass/layout.scss */
html body #wrapper #header .inner nav ul li {
  margin: 0 19px;
  display: inline-block;
  vertical-align: top;
  z-index: 100;
  position: relative;
  width: auto;
}
/* line 81, ../sass/layout.scss */
html body #wrapper #header .inner nav ul li:first-child {
  margin-left: 0;
}
/* line 84, ../sass/layout.scss */
html body #wrapper #header .inner nav ul li:last-child {
  margin-right: 0;
}
/* line 87, ../sass/layout.scss */
html body #wrapper #header .inner nav ul li:last-child a, html body #wrapper #header .inner nav ul li:last-child a:hover {
  background-image: none;
}
/* line 91, ../sass/layout.scss */
html body #wrapper #header .inner nav ul li a {
  color: #666666;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 15px;
  background: url(../images/dropdown_arrow_g.png) no-repeat 100% 50%;
}
/* line 98, ../sass/layout.scss */
html body #wrapper #header .inner nav ul li:hover {
  position: relative;
  z-index: 500;
}
/* line 101, ../sass/layout.scss */
html body #wrapper #header .inner nav ul li:hover a {
  background-color: red;
  color: white;
  background-image: url(../images/dropdown_arrow_w.png);
  position: relative;
  z-index: 1000;
}
/* line 112, ../sass/layout.scss */
html body #wrapper #header .inner nav ul ul {
  display: none;
  position: absolute;
  margin-top: -31px;
  background: red !important;
  padding-top: 46px;
  z-index: 200;
}
/* line 120, ../sass/layout.scss */
html body #wrapper #header .inner nav ul ul li {
  margin: 0 0 15px 0;
  display: block;
  min-width: 180px;
}
/* line 124, ../sass/layout.scss */
html body #wrapper #header .inner nav ul ul li a {
  color: rgba(255, 255, 255, 0.5) !important;
  background: red !important;
  padding: 0 15px;
}
/* line 131, ../sass/layout.scss */
html body #wrapper #header .inner nav ul ul li:hover a {
  color: white !important;
}
/* line 138, ../sass/layout.scss */
html body #wrapper #header .inner nav ul li:hover > ul {
  display: block;
}
/* line 143, ../sass/layout.scss */
html body #wrapper #container {
  width: 974px;
  padding: 0 40px;
  margin: 0 auto;
}
/* line 148, ../sass/layout.scss */
html body #wrapper h2 {
  text-transform: uppercase;
  border-bottom: 1px solid rgba(102, 102, 102, 0.4);
  color: #454545;
  line-height: 21pt;
  margin-bottom: 20px;
}
/* line 155, ../sass/layout.scss */
html body #wrapper h2 span:first-child {
  color: red;
  text-transform: none;
}
/* line 159, ../sass/layout.scss */
html body #wrapper h2 span:nth-child(2) {
  color: #454545;
  text-transform: none;
}
/* line 165, ../sass/layout.scss */
html body #wrapper article p {
  font-size: 12pt;
  line-height: 18pt;
  margin-bottom: 24px;
}
/* line 172, ../sass/layout.scss */
html body #wrapper .news li {
  margin-bottom: 60px;
}
/* line 175, ../sass/layout.scss */
html body #wrapper .news img {
  float: left;
  margin-right: 20px;
}
/* line 179, ../sass/layout.scss */
html body #wrapper .news h3 {
  margin-bottom: 5px;
}
/* line 181, ../sass/layout.scss */
html body #wrapper .news h3 a {
  color: #454545;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 187, ../sass/layout.scss */
html body #wrapper .news h3 a:hover {
  color: red;
}
/* line 192, ../sass/layout.scss */
html body #wrapper .news span {
  font-size: 10pt;
  color: #999;
  margin-bottom: 20px;
  display: inline-block;
}
/* line 198, ../sass/layout.scss */
html body #wrapper .news p {
  font-size: 10.5pt;
  color: #666666;
  line-height: 15pt;
}
/* line 206, ../sass/layout.scss */
html body #footer {
  width: 1054px;
  margin: -180px auto 0;
  height: 180px;
  position: relative;
}
/* line 212, ../sass/layout.scss */
html body #footer .inner {
  width: 974px;
  top: 35px;
  height: 110px;
  padding: 0 40px;
  margin: 0 auto;
  color: #666666;
  font-size: 10pt;
}
/* line 221, ../sass/layout.scss */
html body #footer .inner p {
  margin-bottom: 21px;
  line-height: 12pt;
}
/* line 226, ../sass/layout.scss */
html body #footer .inner .rights, html body #footer .inner .links, html body #footer .inner .social {
  float: left;
}
/* line 229, ../sass/layout.scss */
html body #footer .inner .rights {
  margin-right: 90px;
}
/* line 232, ../sass/layout.scss */
html body #footer .inner .rights a {
  color: red;
}
/* line 235, ../sass/layout.scss */
html body #footer .inner .rights a:hover {
  color: rgba(255, 0, 0, 0.5);
  text-decoration: underline;
}
/* line 241, ../sass/layout.scss */
html body #footer .inner .links {
  width: 250px;
  margin-right: 50px;
}
/* line 245, ../sass/layout.scss */
html body #footer .inner .links ul {
  top: 3px;
}
/* line 248, ../sass/layout.scss */
html body #footer .inner .links ul li {
  display: inline-block;
  width: 123px;
  margin-bottom: 11px;
}
/* line 253, ../sass/layout.scss */
html body #footer .inner .links ul li a {
  color: #666666;
}
/* line 256, ../sass/layout.scss */
html body #footer .inner .links ul li a:hover {
  color: rgba(102, 102, 102, 0.4);
  text-decoration: underline;
}
/* line 262, ../sass/layout.scss */
html body #footer .inner .links ul li:nth-child(5), html body #footer .inner .links ul li:last-child {
  width: 32px;
  top: 7px;
}
/* line 266, ../sass/layout.scss */
html body #footer .inner .links ul li:nth-child(5) .lang, html body #footer .inner .links ul li:last-child .lang {
  display: block;
  background-image: url(../images/sprite_flag.png);
  background-repeat: no-repeat;
  width: 28px;
  height: 18px;
  opacity: 0.5;
}
/* line 274, ../sass/layout.scss */
html body #footer .inner .links ul li:nth-child(5) .lang.ua, html body #footer .inner .links ul li:last-child .lang.ua {
  background-position: 0 0;
}
/* line 277, ../sass/layout.scss */
html body #footer .inner .links ul li:nth-child(5) .lang.uk, html body #footer .inner .links ul li:last-child .lang.uk {
  background-position: -32px 0;
}
/* line 280, ../sass/layout.scss */
html body #footer .inner .links ul li:nth-child(5) .lang.active, html body #footer .inner .links ul li:nth-child(5) .lang:hover, html body #footer .inner .links ul li:last-child .lang.active, html body #footer .inner .links ul li:last-child .lang:hover {
  opacity: 1 !important;
}
/* line 290, ../sass/layout.scss */
html body #footer .inner .social p {
  margin-bottom: 5px;
}
/* line 293, ../sass/layout.scss */
html body #footer .inner .social ul {
  margin-bottom: 10px;
}
/* line 296, ../sass/layout.scss */
html body #footer .inner .social ul li {
  display: inline-block;
  margin-right: 5px;
}
/* line 300, ../sass/layout.scss */
html body #footer .inner .social ul li a {
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(../images/sprite_social.png);
  background-color: rgba(102, 102, 102, 0.4);
}
/* line 307, ../sass/layout.scss */
html body #footer .inner .social ul li a.ml {
  background-position: 0 0;
}
/* line 310, ../sass/layout.scss */
html body #footer .inner .social ul li a.fl {
  background-position: -37px 0;
}
/* line 313, ../sass/layout.scss */
html body #footer .inner .social ul li a.tw {
  background-position: -74px 0;
}
/* line 316, ../sass/layout.scss */
html body #footer .inner .social ul li a.fb {
  background-position: -111px 0;
}
/* line 319, ../sass/layout.scss */
html body #footer .inner .social ul li a.yt {
  background-position: -148px 0;
}
/* line 322, ../sass/layout.scss */
html body #footer .inner .social ul li a.rc {
  background-position: -185px 0;
}
/* line 325, ../sass/layout.scss */
html body #footer .inner .social ul li a:hover {
  background-color: red;
}
/* line 331, ../sass/layout.scss */
html body #footer .inner .social span {
  color: #666666;
  opacity: 0.4;
  display: block;
  font-size: 8pt;
  margin-bottom: 7px;
}
/* line 338, ../sass/layout.scss */
html body #footer .inner .social .babich {
  display: inline-block;
  width: 97px;
  height: 32px;
  background: url(../images/logo_d.babych.png) no-repeat;
  margin-right: 24px;
}
/* line 345, ../sass/layout.scss */
html body #footer .inner .social .babich:hover {
  background-position: 0 -32px;
}
/* line 349, ../sass/layout.scss */
html body #footer .inner .social .pieoneers {
  display: inline-block;
  width: 100px;
  height: 32px;
  background: url(../images/logo_pieoneers.png) no-repeat;
}

/* line 1, ../sass/index.scss */
#container.i {
  min-height: 1700px;
}
/* line 4, ../sass/index.scss */
#container.i .timer, #container.i article {
  width: 640px;
}
/* line 7, ../sass/index.scss */
#container.i .timer h1, #container.i article h1 {
  font-size: 21pt;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 33px;
  top: 7px;
}
/* line 14, ../sass/index.scss */
#container.i .timer h1 span, #container.i article h1 span {
  color: red;
  font-size: 18pt;
  font-weight: bold;
  text-transform: none;
}
/* line 21, ../sass/index.scss */
#container.i .timer .remaining_time, #container.i article .remaining_time {
  font-size: 96pt;
  font-family: Bebas_Neue_Cyrillic;
  color: #666666;
  opacity: 0.4;
  letter-spacing: 8px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 30, ../sass/index.scss */
#container.i .timer .remaining_time span, #container.i article .remaining_time span {
  font-size: 14pt;
  letter-spacing: 1px;
}
/* line 35, ../sass/index.scss */
#container.i .timer .subject, #container.i article .subject {
  text-align: center;
  color: #666666;
  text-transform: uppercase;
  font-size: 10.5pt;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 400;
}
/* line 43, ../sass/index.scss */
#container.i .timer .it_has_begun, #container.i article .it_has_begun {
  font-size: 75pt;
  font-family: Bebas_Neue_Cyrillic;
  color: #666666;
  opacity: 0.4;
  letter-spacing: 8px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 53, ../sass/index.scss */
#container.i .timer {
  height: 279px;
}
/* line 56, ../sass/index.scss */
#container.i .about {
  margin-bottom: 60px;
}
/* line 59, ../sass/index.scss */
#container.i .navi {
  margin: 0 auto 46px;
  width: 56px;
  height: 12px;
}
/* line 64, ../sass/index.scss */
#container.i .navi a {
  width: 12px;
  height: 12px;
  float: left;
  display: block;
  background: rgba(102, 102, 102, 0.5);
  margin: 0 5px;
}
/* line 72, ../sass/index.scss */
#container.i .navi a.active {
  cursor: default;
  background-color: #666666;
}
/* line 76, ../sass/index.scss */
#container.i .navi a:first-child {
  margin: 0 5px 0 0;
}
/* line 79, ../sass/index.scss */
#container.i .navi a:last-child {
  margin: 0 0 0 5px;
}
/* line 84, ../sass/index.scss */
#container.i .reporters {
  z-index: 100;
  padding-bottom: 27px;
}
/* line 88, ../sass/index.scss */
#container.i .reporters .scrollable {
  position: relative;
  overflow: hidden;
  width: 970px;
  height: 170px;
  margin: 0 auto;
}
/* line 95, ../sass/index.scss */
#container.i .reporters .scrollable .items {
  width: 20000em;
  position: absolute;
}
/* line 99, ../sass/index.scss */
#container.i .reporters .scrollable .items ul {
  position: relative;
  float: left;
}
/* line 103, ../sass/index.scss */
#container.i .reporters .scrollable .items ul li {
  display: inline-block;
  padding: 10px;
  width: 120px;
  height: 150px;
  margin: 0 11px;
}
/* line 110, ../sass/index.scss */
#container.i .reporters .scrollable .items ul li:first-child {
  margin: 0 11px 0 0;
}
/* line 113, ../sass/index.scss */
#container.i .reporters .scrollable .items ul li:last-child {
  margin: 0 0 0 11px;
}
/* line 118, ../sass/index.scss */
#container.i .reporters .scrollable .items ul li:hover a {
  visibility: visible;
}
/* line 123, ../sass/index.scss */
#container.i .reporters .scrollable .items ul li img {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 128, ../sass/index.scss */
#container.i .reporters .scrollable .items ul li .theme {
  color: white;
  text-decoration: none;
  visibility: hidden;
  background-color: rgba(255, 0, 0, 0.8);
  text-align: center;
  height: 100px;
  display: block;
  font-size: 10pt;
  font-weight: bold;
  padding: 10px;
}
/* line 140, ../sass/index.scss */
#container.i .reporters .scrollable .items ul li .theme span {
  text-transform: uppercase;
  font-size: 7.5pt;
  display: block;
  margin-bottom: 10px;
}
/* line 147, ../sass/index.scss */
#container.i .reporters .scrollable .items ul li .reporter_name {
  font-size: 10pt;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 159, ../sass/index.scss */
#container.i aside {
  width: 264px;
  right: 40px;
  top: 0;
  position: absolute;
}
/* line 165, ../sass/index.scss */
#container.i aside ul:first-child {
  margin: 59px 0 63px 52px;
}
/* line 168, ../sass/index.scss */
#container.i aside ul:first-child li {
  margin-bottom: 10px;
}
/* line 171, ../sass/index.scss */
#container.i aside ul:first-child li a {
  color: white;
  display: block;
  width: 166px;
  background-color: rgba(102, 102, 102, 0.8);
  padding: 14px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 181, ../sass/index.scss */
#container.i aside ul:first-child li a:hover {
  opacity: 0.5;
}
/* line 186, ../sass/index.scss */
#container.i aside ul:first-child li:first-child a {
  background-color: red;
}
/* line 192, ../sass/index.scss */
#container.i aside ul:nth-child(2) {
  margin-bottom: 358px;
}
/* line 195, ../sass/index.scss */
#container.i aside ul:nth-child(2) li {
  margin-bottom: 23px;
}
/* line 198, ../sass/index.scss */
#container.i aside ul:nth-child(2) li .icon_bg {
  height: 60px;
  width: 60px;
  position: absolute;
  background-color: rgba(102, 102, 102, 0.8);
}
/* line 205, ../sass/index.scss */
#container.i aside ul:nth-child(2) li a {
  display: block;
  background-image: url(../images/sprite_icon.png);
  background-repeat: no-repeat;
  padding-left: 85px;
  text-decoration: none;
  text-transform: uppercase;
  height: 60px;
  color: #454545;
  font-size: 13.5pt;
}
/* line 216, ../sass/index.scss */
#container.i aside ul:nth-child(2) li a span {
  color: red;
  text-transform: none;
  font-size: 11pt;
  line-height: 21pt;
  display: block;
}
/* line 223, ../sass/index.scss */
#container.i aside ul:nth-child(2) li a.partners {
  background-position: 0 0;
}
/* line 226, ../sass/index.scss */
#container.i aside ul:nth-child(2) li a.jobs {
  background-position: 0 -83px;
}
/* line 229, ../sass/index.scss */
#container.i aside ul:nth-child(2) li a.reporter {
  background-position: 0 -166px;
}
/* line 234, ../sass/index.scss */
#container.i aside ul:nth-child(2) li:hover .icon_bg {
  background-color: rgba(102, 102, 102, 0.5);
}
/* line 237, ../sass/index.scss */
#container.i aside ul:nth-child(2) li:hover a {
  color: rgba(102, 102, 102, 0.5);
}
/* line 243, ../sass/index.scss */
#container.i aside iframe {
  margin-bottom: 20px;
}
/* line 246, ../sass/index.scss */
#container.i aside .play, #container.i aside .appstore {
  display: block;
  margin: 0 auto 15px;
}
/* line 250, ../sass/index.scss */
#container.i aside .play {
  width: 153px;
  height: 49px;
  background-image: url(../images/logo_play.png);
}
/* line 255, ../sass/index.scss */
#container.i aside .appstore {
  width: 133px;
  height: 46px;
  background-image: url(../images/logo_appstore.png);
}
