body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$gray\".\A         on line 42 of C:/Users/deepinsideofnowhere/Projects/TEDx/sass/events.scss"; }
