body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$gray\".\A         on line 100 of c:/Users/deepinsideofnowhere/projects/tedx/sass/geton.scss"; }
