/* line 1, ../sass/index.scss */
#container.i {
  min-height: 1700px;
}
/* line 3, ../sass/index.scss */
#container.i .banner {
  background: url(../images/TEDXKyiv2013_finish.png) no-repeat 50% 50%;
  height: 340px;
}
/* line 7, ../sass/index.scss */
#container.i .banner a {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
}
/* line 16, ../sass/index.scss */
#container.i .about {
  margin-bottom: 60px;
}
/* line 19, ../sass/index.scss */
#container.i .speakers {
  z-index: 100;
  padding-bottom: 27px;
}
/* line 24, ../sass/index.scss */
#container.i aside ul:first-child {
  margin: 59px 0 63px 52px;
}
/* line 27, ../sass/index.scss */
#container.i aside ul.add {
  margin-bottom: 358px;
}
/* line 30, ../sass/index.scss */
#container.i aside .add_box {
  margin-top: 365px;
}
