/* line 2, ../sass/last_event.scss */
#container.le .banner {
  background-position: 50% 50% !important;
  background-repeat: no-repeat;
  height: 271px !important;
}
/* line 7, ../sass/last_event.scss */
#container.le .e2009 {
  background-image: url(../images/event2009.jpg);
}
/* line 10, ../sass/last_event.scss */
#container.le .e2010_1 {
  background-image: url(../images/event2010_1.jpg);
}
/* line 13, ../sass/last_event.scss */
#container.le .e2010_2 {
  background-image: url(../images/event2010_2.jpg);
}
/* line 16, ../sass/last_event.scss */
#container.le .e2010_3 {
  background-image: url(../images/event2010_2.jpg);
}
/* line 19, ../sass/last_event.scss */
#container.le .e2011 {
  background-image: url(../images/event2011.jpg);
}
/* line 22, ../sass/last_event.scss */
#container.le .e2012_1 {
  background-image: url(../images/event2012.jpg);
}
/* line 25, ../sass/last_event.scss */
#container.le .e2012_2 {
  background-image: url(../images/event2012.jpg);
}
/* line 28, ../sass/last_event.scss */
#container.le .wo_nav {
  height: 170px !important;
}
